<h1>Girls Can Tell Store Locator</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>State abbr</th>
      <th>Zip</th>
      <th>Country</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.city %></td>
        <td><%= store.state %></td>
        <td><%= store.state_abbr %></td>
        <td><%= store.zip %></td>
        <td><%= store.country %></td>
        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store', new_store_path %>

<h4>Upload CSV</h4>
<p>Uploading a new CSV will delete all current stores listed and recreate them from the CSV so that duplicate entries are avoided.</p>
<%= form_tag import_stores_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import", confirm: "Are you sure you want to replace all current stores with the new CSV?" %>
<% end %>
